@font-face {
    font-family: pixel-writing;
    src: url(pixel-writing.ttf);
}
html {
    background: #1d2026;
    overflow: hidden;

    animation: sway 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
*{
    /* So crisp. So clean.*/
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}
p {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .3vw;
    transform: translate(-50%, -80%);
    color: #ffffff;
    font-family: pixel-writing;
    font-size: 10vw;
}
.sign {
    z-index: -1;
    margin-top: -15%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@keyframes sway {
    0% { transform: rotate(-3deg); }
    50% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}