html {
    overflow: hidden; 
    background: #1d2026;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
.menu-buttons{
    min-height: 100vh;
    width: 100%;
    color: #fff;
    position: absolute;
}
.c-logo, .s-logo{
    width: 25vw;
    margin-top: 10%;
    margin-left: 3%;
    display: inline-block;
    cursor: pointer;
    transition: transform 0.5s;
}

.c-logo, .s-logo  { 
    border-radius: 3vw;
    max-width: 100%; 
    width: auto\9;
}

.menu-buttons:active {
    transform: scale(1.0, 1.0);
}

.menu-buttons:not(self) * :hover {
    transform: scale(1.12,1.12);
}

img {
    width: 100%;
    height: auto;
}